@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&family=Sora:wght@400;500;600;700;800;900&display=swap');

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Sora', sans-serif;
}

body {
        padding: 0 2rem;
        background: #00B4DB;  
        background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  
        background: linear-gradient(to right, #0083B0, #00B4DB); 
}

.container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        min-height: 100vh;
        overflow: hidden;
}

@media (max-width:500px) {
        body {
                padding: 0 1rem;
        }
}

.loading-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        overflow: hidden;
}